*.html
ads.txt

**/_out/*
**/.vscode/*
.DS_Store
build_ebook.log
temp_ebook.md
ebook/*.pdf
ebook/*.epub

convert.py

attachments/build/**
attachments/android/.gradle/**
attachments/android/.idea
attachments/android/.gradle/**
attachments/android/app/.cxx/**
attachments/android/app/build/**
local.properties