[submodule "glfw"]
	path = external/glfw
	url = https://github.com/glfw/glfw.git
	commit = b00e6a8a88ad1b60c0a045e696301deb92c9a13e
[submodule "glm"]
	path = external/glm
	url = https://github.com/g-truc/glm.git
	commit = 6f14f4792a0cde5d0cf2c910506724d61cb95834
[submodule "vk-bootstrap"]
	path = external/vk-bootstrap
	url = https://github.com/charles-lunarg/vk-bootstrap.git
	commit = 5ca6780498864ae4c12f3a594ee6a6c5133d4ce0
[submodule "nlohmann"]
	path = external/nlohmann
	url = https://github.com/nlohmann/json.git
	commit = 4fad4468974a7b1b26d374b1c5955d2ac7d449b0
[submodule "stb"]
	path = external/stb
	url = https://github.com/nothings/stb.git
	commit = 31c1ad37456438565541f4919958214b6e762fb4
[submodule "tinygltf"]
	path = external/tinygltf
	url = https://github.com/syoyo/tinygltf.git
	commit = d31c16e333a6c8d593cad43f325f4e1825dd4776
[submodule "gltf-sample-assets"]
	path = data/external/sponza
	url = https://github.com/KhronosGroup/glTF-Sample-Assets.git
	commit = 2bac6f8c57bf471df0d2a1e8a8ec023c7801dddf
	sparse-path = Models/Sponza
